.design {
    background-color: coral;
    text-align: center;
    height: 60px;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}
.mail {
    text-decoration: underline;
}
.paragraph {
    text-align: center;
}